/* Add Styles no type selectors*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/* Register.module.css */
.wrapper {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  /* max-width: 1280px; ; */
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1280px;
  /* box-shadow: 0 0 6px rgba(0, 0, 0, 0.1); */
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px;
}

.imageSection {
  flex: 1;
}

.imageSection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loginSection {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputGroup {
  margin-bottom: 20px;
}

.inputGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Montserrat", "ui-sans-serif", "system-ui", "-apple-system",
    "system-ui", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans",
    "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

.nameInputGroup {
  display: flex;
  justify-content: space-between;
}

.inputGroupHalf {
  width: 48%;
}

.inputGroupHalf input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Montserrat", "ui-sans-serif", "system-ui", "-apple-system",
    "system-ui", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans",
    "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

.button {
  width: 100%;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-top: 1rem;
  margin-right: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: #0284c7;
  color: #ffffff;
  font-weight: 500;
  border-radius: 0.25rem;
  border-width: 2px;
  border-style: solid;
  border-color: #075985;
  cursor: pointer;
  font-family: "Montserrat", "ui-sans-serif", "system-ui", "-apple-system",
    "system-ui", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans",
    "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-weight: 500;
}

.button:hover {
  background-color: #075985;
}

.forgotLink,
.signupLink {
  display: block;
  margin-top: 4px;
  text-align: center;
  color: #0284c7;
  text-decoration: none;
  font-size: 12px;
  font-family: "Montserrat", "ui-sans-serif", "system-ui", "-apple-system",
    "system-ui", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans",
    "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

.infoText {
  display: block;
  margin-top: 12px;
  text-align: center;
  color: #1f2937;
  text-decoration: none;
  font-family: "Montserrat", "ui-sans-serif", "system-ui", "-apple-system",
    "system-ui", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans",
    "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 12px;
}

.forgotLink:hover,
.signupLink:hover {
  text-decoration: underline;
}


.errorMessage {
  margin-left: 0.5rem; 
  font-size: 0.875rem; 
  line-height: 1.25rem; 
  color: #ef4444;
  
}

.errorMessageSmall {
  margin-left: 0.5rem; 
  font-size: 0.75rem;
  line-height: 1rem;
  color: #f87171; 
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .imageSection img {
    height: auto;
  }
}
